<template>
    <div>
        <h1>Albums</h1>

        <div class="row m-album-view-list">
            <album-tile v-for="album in albums"
                    :key="album.id"
                    :albumTitle=album.albumTitle
                    :artistName=album.artistName
                    :albumYear=album.albumYear
                    :albumLink=album.links.album
                    :albumCover=album.links.albumCover
                    :artistLink=album.links.artist
            >
            </album-tile>

            <div v-if="albums.length === 0">
                No albums found
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

  let isUndefined = require('lodash.isundefined');
  export default {
    beforeMount () {
      let that = this;
      let helpers = require('../helpers').default;
      let getPath = helpers.getPath;
      let ft = helpers.fileTypes;
      let pager = (isUndefined(this.$route.params.id)) ?
          1 : this.$route.params.id;
      axios.get('albums/' + pager)
          .then((response) => {
            let albums = response.data.data;
            albums.forEach(function (album) {
              that.albums.push(album);
            });
          })
          .catch((e) => {
            console.log(e);
            console.log('Unable to load')
          });
    },
    data : () => {
      return {
        albums : []
      }
    },
    props : ['user'],
    mounted() {
      console.log('Component mounted.')
    },
  }
</script>
