<template>
    <div class="m-album-details">
        <div class="thumbnail pull-left">
            <img class="pull-left" :src=albumCover />
        </div>
        <div class="album-details pull-left">
            <h3 v-if="albumLink && albumTitle">
                <router-link :to="albumLink">
                    {{ albumTitle }}
                </router-link>
            </h3>
            <h3 v-if="!albumLink && albumTitle">
                {{ albumTitle }}
            </h3>
            <h4 v-if="artistLink && artistName">
                <router-link :to="artistLink">
                    {{ artistName }}
                </router-link>
            </h4>
            <h4 v-if="!artistLink && artistName">
                {{ artistName }}
            </h4>
            <h5>
                <span> {{ albumYear }} </span>
                <span> {{ trackNumber }} tracks </span>
                <span> {{ albumLength | formatSecondsLong }} </span>
            </h5>
        </div>
    </div>
</template>

<script type="text/babel">
  let helper = require('../helpers').default;
  export default {
    props : [
        'albumCover',
        'albumLength',
        'albumLink',
        'albumTitle',
        'artistId',
        'artistName',
        'albumYear',
        'trackNumber',
    ],
    data : function () {
      return {
        'artistLink' : helper.getPath(this.artistId,
            helper.fileTypes.artistLink)
      };
    }
  }
</script>
