<template>
    <div class="m-album-tile col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <router-link :to=albumLink>
                <img class="pull-left" :src=albumCover>
            </router-link>
            <div class="caption">
                <h5>
                    <router-link :to=artistLink>
                        {{ artistName }}
                    </router-link>
                </h5>
                <h6>
                    <router-link :to=albumLink>
                        {{ albumTitle }}
                    </router-link>
                </h6>
                <p>{{ albumYear }}</p>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
  export default {
    props : [
        'albumTitle',
        'artistName',
        'albumYear',
        'albumLink',
        'artistLink',
        'albumCover'
    ]
  }
</script>
