<template>
    <div v-if="artistId">
        <album-header
            :albumCover=albumCover
            :albumLength=albumLength
            :albumLink=albumLink
            :albumTitle=albumTitle
            :albumYear=albumYear
            :artistId=artistId
            :artistName=artistName
            :trackNumber=tracks.length
        ></album-header>
        <div v-if="tracks.length > 0">
            <track-table
                :tracks=tracks
                :playlists=user.playlists
                :user=user
            ></track-table>
        </div>
    </div>

</template>

<script type="text/babel">
  let isUndefined = require('lodash.isundefined');
  let helper = require('../helpers').default;
  export default {
    beforeMount () {
        this.fetchData();
    },
    data : () => {
      return {
        albumId : undefined,
        albumTitle : '',
        albumLink : '',
        albumYear : '',
        albumCover : '',
        artistId : undefined,
        artistName : '',
        loading : true,
        tracks : []
      };
    },
    computed : {
      albumLength : function () {
        let albumLength = 0;
        this.tracks.forEach((track) => {
          let len = parseInt((track.trackLength).toFixed());
          albumLength += len;
        });
        return albumLength;
      }
    },
    props : {
      'user' : {
        type : Object,
        default : () => {
          return {
            currentTrack : undefined,
            playQueue : [],
            playlists : []
          };
        }
      }
    },
    methods : {
      fetchData : function () {
        let that = this;
        let helpers = require('../helpers').default;
        let albumId = (isUndefined(this.$route.params.id)) ? undefined
            : this.$route.params.id;
        this.loading = true;
        if (albumId === undefined) {
          this.$route.router.go('/');
        }
        this.albumId = parseInt(albumId);
        axios.get('album/' + albumId)
            .then((response) => {

              let data = response.data.data;
              that.tracks = data.tracks;

              that.artistId = parseInt(data.artistId);
              that.artistName = data.artistName;
              that.albumTitle = data.albumTitle;
              that.albumCover = data.links.albumCover;
              that.albumYear = data.albumYear;
              that.albumLink = data.links.album;
              that.artistLink = data.links.artist;
              that.loading = true;
            })
            .catch((e) => {
              console.error(e);
            });
      }
    }
      }
</script>
