<template>
    <div>
        <messages></messages>
        <sidebar :playlists=user.playlists></sidebar>
        <div id="app-view" class="col-sm-9">
            <router-view :key="$route.fullPath" :user="user"></router-view>
        </div>
        <controls
                :current=user.currentTrack
                :playlist=playQueue
        ></controls>
    </div>
</template>
<script type="text/babel">

  import {router} from '../routes';
  import {EventBus} from '../event-bus';
  import {Events} from '../events';
  import {Endpoint} from '../endpoints';
  import {setMessage} from '../methods/set-message';

  let isUndefined = require('lodash.isundefined');
  let find = require('lodash.find');
  let throttle = require('lodash.throttle');
  let downloader = axios.create({
    baseURL: '/',
    method: 'get',
    timeout: 30000,
    responseType: 'blob'
  });

  export default {
    el: '#music-app',
    router: router,
    created: function () {
      let that = this;

      // open up local indexDB storage
      let request = window.indexedDB.open(this.dbName, 3);
      request.onsuccess = function () {
        that.user.canDownload = true;
        that.db = request.result;
      };
      request.onerror = function () {
        that.user.canDownload = false;
      };
      request.onupgradeneeded = function (e) {
        that.user.canDownload = false;
        that.db = e.target.result;
        let trackStore = that.db.createObjectStore(that.trackStoreName);
        trackStore.transaction.oncomplete = function () {
          that.user.canDownload = true;
        }
      };


      axios.get(Endpoint.user.get)
          .then((response) => {
            let user = (isUndefined(response.data.data))
                ? null : response.data.data,
                that = this;
            let userData = user.userData;
            let playQueue = userData.playQueue;
            if (!isUndefined(userData.currentTrack)) {
              that.user.currentTrack = userData.currentTrack;
            }
            else {
              // set the default value
              that.user.currentTrack = {
                title: '',
                artistName: '',
                albumTitle: '',
                year: '',
                length: '',
                albumCover: '',
                src: ''
              };
            }

            if (!isUndefined(playQueue)) {
              that.playQueue = playQueue;
            }

            if (!isUndefined(user.playlists)) {
              that.user.playlists = user.playlists;
            }

          });

      /**
       * creating a new play queue
       */
      EventBus.$on(Events.newPlayQueue, function (data) {
        let playQueue = data.playQueue;
        that.playQueue = [];
        // change the playQueue to array to simulate a change in playlist
        // ie for when we choose a different song from same playlist
        // so we can change the track
        Vue.nextTick(function () {
          that.playQueue = playQueue.list;
          that.user.currentTrack = playQueue.currentTrack;
        });
        // to fit the library
      });

      /**
       * updating the track position in user data
       */
      EventBus.$on(Events.timeUpdate, (data) => {
        Vue.set(this.user.currentTrack, 'currentTime', data.currentTime);
        that.syncUser();
      });

      /**
       * handling add track to playlist events
       */
      EventBus.$on(Events.addToPlaylist, (data) => {
        let that = this;
        let newPlayList = data.newPlayList;
        let trackId = data.trackId;

        if (newPlayList) {
          let title = this.generatePlaylistName();
          this.createPlaylist(title, function (data) {
            that.user.playlists.push(data);
            that.addTrackToPlaylist(data.id, trackId, function (data) {
              console.log('track added', data);
            });
          });
        }
        else {
          let playlistId = data.playlistId;
          this.addTrackToPlaylist(playlistId, trackId);
        }
      });

      /**
       * handling change in current track being listened to
       */
      EventBus.$on(Events.updateCurrentTrack, (data) => {
        let trackNum = data.trackNum;
        this.user.playQueue.currentTrack = this.user.playQueue[trackNum];
        this.user.currentTrack = this.user.playQueue.currentTrack;
      });

      EventBus.$on(Events.downloadFile, (data) => {
        let url = data.url;
        this.downloadFile(url, data.trackId);
      });

      /**
       * handle user submitting search form
       */
      EventBus.$on(Events.goSearchPage, (data) => {
        console.log(data);
      });

      /**
       * handle user clicking on search result link
       */
      EventBus.$on(Events.redirectTo, (data) => {
        this.$router.push(data);
      });

      /**
       * handles event for deleting playlist
       */
      EventBus.$on(Events.deletePlaylist, (data) => {
        this.deletePlaylist(data.id);
      });

      EventBus.$on(Events.updatePlaylist, (data) => {
        let updated = false;
        let that = this;
        this.user.playlists.forEach(function(playlist, ind) {
          if (!updated && data.id === playlist.id) {
            console.log(data);

            that.user.playlists[ind].title = data.title;
          }
        });
      });
    },
    data: () => {
      return {
        user: {
          currentTrack: {
            title: '',
            artistName: '',
            albumTitle: '',
            year: '',
            length: '',
            albumCover: '',
            src: ''
          },
          playQueue: [],
          playlists: [],
          canDownload: false
        },
        playQueue: [],
        firstLoad: true,
        trackStoreName: 'track-store',
        dbName: 'music-player',
        db: undefined
      }
    },
    methods: {
      syncUser: throttle(function () {
        if (!this.firstLoad) {
          let user = this.user;
          axios.post(Endpoint.user.update, {user: user})
              .then((response) => {
              })
              .catch((err) => {
                console.log(err);
              });
        }
        // turn off firstLoad flag 3 seconds into load
        setTimeout(() => {
          this.firstLoad = false;
        }, 3000);
      }, 3000),
      /**
       * check the existence of the file using the track id
       * @param id track id
       * @param cb callback function - returns key or false
       */
      checkFile: function (id, cb) {
        let key = '/files/tracks/' + id + '.mp3';
        let tx = this.db.transaction([this.trackStoreName], 'readonly');
        let trackStore = tx.objectStore(this.trackStoreName);
        console.log(key);
        let req = trackStore.count(key);
        req.onsuccess = function (e) {
          let cursor = e.target.result;
          if (cursor) {
            cb(key);
          }
          else {
            cb(false);
          }
        };
        req.onerror = function () {
          cb(false);
        }
      },
      downloadFile: function (url, trackId) {
        let that = this;
        downloader({
          url: url,
        })
            .then((response) => {
              let file = response.data;
              that.storeFile(trackId, file);
            })
            .catch(() => {
              console.log('unable to download file');
            })
      },
      storeFile: function (id, blob) {
        console.log('storing file', src);
        // Open a transaction to the database
        let transaction = this.db.transaction([this.trackStoreName], 'readwrite');

        // Put the blob into the database
        transaction
            .objectStore(this.trackStoreName)
            .put(blob, id);
      },
      getFile(id, cb) {
        let transaction = this.db.transaction([this.trackStoreName], 'readonly');
        transaction
            .objectStore(this.trackStoreName)
            .get(id)
            .onsuccess = function (event) {
          let track = event.target.result;
          if (typeof track !== 'undefined') {
            // Get window.URL object
            let URL = window.URL || window.webkitURL;

            // Create and revoke ObjectURL
            let trackSrc = URL.createObjectURL(track);
            cb(trackSrc);
            // Revoking ObjectURL
//            URL.revokeObjectURL(track);
          }

        };
      },
      /**
       * generates name for playlist
       * @return string title
       */
      generatePlaylistName() {

        let playlists = this.user.playlists;
        let itr = 1;

        let title = 'New Playlist ' + itr;

        while ((find(playlists, {
          title: 'New Playlist ' + itr
        }))) {
          itr++;
          title = 'New Playlist ' + itr;
        }
        return title;

      },
      /**
       * add new playlist
       * @param title
       * @param cb
       */
      createPlaylist(title, cb) {
        let that = this;
        axios.post(Endpoint.playlist.create, {title : title})
            .then(function (response) {
              let data = response.data.data;
              if (!isUndefined(cb)) {
                cb(data);
              }
              that.setMessage('Playlist created - ' + title, 'default');
            });
      },
      /**
       * add track to playlist
       * @param playlistId
       * @param  trackId
       * @param cb
       */
      addTrackToPlaylist(playlistId, trackId, cb) {
        let that = this;
        axios.post(Endpoint.playlistItem.create(playlistId), {
          trackId: trackId
        })
            .then(function (response) {
              that.setMessage('Track added to playlist');
              if (!isUndefined(cb)) {
                cb (response.data);
              }

            });
      },
      /**
       * deletes a playlist
       * @param id
       */
      deletePlaylist(id) {
        let that = this;
        axios.delete(Endpoint.playlist.delete(id))
            .then(function (response) {

              let deleted = false;
              that.user.playlists.forEach(function (playlist, ind) {
                if (!deleted && playlist.id === id) {
                    that.user.playlists.splice(ind, 1);
                    deleted = true;
                }
              });
              that.setMessage('Playlist deleted', 'danger');
            });
      },
      setMessage : setMessage
    },
    watch: {
      playQueue: function (newValue) {
        this.user.playQueue = newValue;
        this.syncUser();
      },
      'user.currentTrack': function (track) {
        console.log(track.title);
//        let that = this;
//        // check for downloaded file in playlist
//        // and update src and add flag
//        that.checkFile(track.id, function (success) {
//          that.user.currentTrack.downloaded = (success);
//          if (success) {
//            that.getFile(track.id, function(url) {
//              that.user.currentTrack.src = url;
//            });
//          }
//        });
      }
    }
  }
</script>
