<template>
    <div class="m-artist-view">
        <h2>{{ artistName }}</h2>
        <div class="clearfix m-artist-album-view">
            <h4 v-if="albums.length > 0" class="pull-left">Albums</h4>
            <div class="pull-right m-artist-controls">
                <span>
                    <i @click="setListStyle(false)" class="glyphicon glyphicon-th-list"></i>
                </span>
                <span>
                    <i @click="setListStyle(true)" class="glyphicon glyphicon-th-large"></i>
                </span>
            </div>
        </div>
        <div v-for="(album, index) in albums" class="row clearfix">
            <div v-if="showTiles" class="m-album-list">
                <album-tile
                        :albumTitle=album.albumTitle
                        :artistName=artistName
                        :albumYear=album.albumYear
                        :albumLink=album.albumLink
                        :coverArt=album.albumCover
                        :artistLink=album.artistLink
                >
                </album-tile>
            </div>
            <div v-else class="col-xs-12">
                <album-header
                        :albumCover=album.albumCover
                        :albumTitle=album.albumTitle
                        :albumLength=album.albumLength
                        :albumLink=album.albumLink
                        :albumYear=album.albumYear
                        :artistId=artistId
                        :artistName=artistName
                        :trackNumber=album.tracks.length
                ></album-header>
                <div v-if="album.tracks.length > 0">
                    <track-table
                            :tracks=album.tracks
                            :playlists=user.playlists
                            :user=user
                    ></track-table>
                </div>
            </div>
        </div>

        <h4 v-if="contributedOn.length > 0">
            Contributed On
        </h4>
        <div v-for="(album, index) in contributedOn" class="clearfix">
            <h5>{{ album.albumTitle }}</h5>
            <track-table
                    :tracks=album.tracks
                    :playlists=user.playlists
                    :user=user
            ></track-table>
        </div>
    </div>
</template>

<script type="text/babel">
  let helper = require('../helpers').default;
  let isUndefined = require('lodash.isundefined');
  export default {
    beforeMount () {
      let that = this;
      let helpers = require('../helpers').default;
      let artistId = (isUndefined(this.$route.params.id)) ? undefined
          : this.$route.params.id;
      if (artistId === undefined) {
        this.$route.router.go('/');
      }
      this.artistId = artistId;
      axios.get('artist/' + artistId)
          .then((response) => {
            let data = response.data.data;
            that.artistName = data.artistName;
            data.albums.forEach((_album) => {
                let album = {};
                album.id = _album.id;
                album.albumTitle = _album.album_title;
                album.albumYear = _album.album_year;
                album.albumCover = _album.album_cover;
                album.albumLink = _album.album_link;
                album.artistLink = _album.artist_link;

                // calculate total album length
                album.tracks = _album.tracks;
                album.albumLength = 0;
                album.tracks.forEach((track) => {
                  let len = parseInt((track.trackLength).toFixed());
                  album.albumLength += len;
                });
                // add to component model
                that.albums.push(album);
            });
            let contributedOn = {};
            data.contributedOn.forEach((contrib) => {
                if (isUndefined(contributedOn[contrib.albumId])) {
                  contributedOn[contrib.albumId] = {
                    albumId : contrib.albumId,
                    albumTitle : contrib.albumTitle,
                    artistId : contrib.artistId,
                    artistName : contrib.artistName,
                    tracks : []
                  }
                }
              contributedOn[contrib.albumId].tracks.push(contrib)
            });

            Object.keys(contributedOn).forEach((key) => {
              that.contributedOn.push(contributedOn[key]);
            });

          })
          .catch((e) => {
            console.error(e);
          });

    },
    data : () => {
      return {
        artistId : null,
        artistName : '',
        albums : [],
        contributedOn : [],
        showTiles : false
      };
    },
    methods : {
      setListStyle : function (showHide) {
        this.showTiles = showHide;
      },
      setupContributed : function (data) {

      }
    },
    props : ['user']
  }
</script>
