<template>
    <div class="audio-player">
        <player
                :title="current.title"
                :artist="current.artistName"
                :album="current.albumTitle"
                :cover-art="current.albumCover"
                :artist-link="current.artistLink"
                :album-link="current.albumLink"
                :src="current.src"
                :opts="opts"
                :current-time="current.currentTime"
                :duration="current.trackLength"
        ></player>
    </div>

</template>
<script type="text/babel">
  import {EventBus} from '../event-bus.js';
  import {Events} from '../events.js';
  import {throttle} from 'lodash.throttle';
  let Vue = require('vue');

  export default {
    beforeMount() {
        this.original = this.playlist;
//        this.current = this.playlist[this.trackIndex];
    },
    data() {
      return {
        original : [],
        trackIndex : 0,
        opts : {
          repeat : false,
          shuffle : false,
          mute : false
        }
      };
    },
    mounted() {
      EventBus.$on(Events.previousTrack, (e) => {
        if (this.playlist.length > 1) {
          this.trackIndex--;
        }
      });
      EventBus.$on(Events.nextTrack, (e) => {
        if (this.playlist.length > 1) {
          this.trackIndex++;
        }
      });
      EventBus.$on(Events.selectTrack, (data) => {
        this.trackIndex = data.trackIndex;
      });
      EventBus.$on(Events.toggleRepeat, () => {
        this.opts.repeat = !(this.opts.repeat);
      });
      EventBus.$on(Events.toggleShuffle, () => {
        this.opts.shuffle = !(this.opts.shuffle);
        if (this.opts.shuffle) {
          this.randomPlaylistOrder();
        } else {
          this.original.forEach(function (track, index) {
            Vue.set(this.tracks, index, track);
          });
        }
      });
      EventBus.$on(Events.toggleMute, () => {
        this.opts.mute = !(this.opts.mute);
      });
      // callback for volume changes affecting mute
      let volumeCb = (data) => {
        let percentage = Math.floor(data.newPosition);
        this.opts.mute = (percentage === 0);
      };
      EventBus.$on('volume-bar' + Events.updatingProgress, volumeCb);
      EventBus.$on('volume-bar' + Events.updateProgress, volumeCb);

    },
    methods : {
      randomPlaylistOrder : function () {
        // ref: https://github.com/Daplie/knuth-shuffle/blob/master/index.js
        let currentIndex = this.playlist.length
            , temporaryValue
            , randomIndex
        ;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = this.playlist[currentIndex];
          Vue.set(this.playlist, currentIndex, this.playlist[randomIndex]);
          Vue.set(this.playlist, randomIndex, temporaryValue);
        }
      }
    },
    props : {
      playlist : {
        type: Array,
        default : []
      },
      current : {
        type : Object,
        default : function () {
          return {
            title: '',
            artistName: '',
            albumTitle: '',
            currentTime : 0,
            year: '',
            length: '',
            albumCover: '',
            src: '',
            trackLength : 0
          };
        }
      }
    },
    watch : {
      trackIndex (trackNum) {
        let upperBound = this.playlist.length - 1;
        let lowerBound = 0;
        if (trackNum > upperBound) {
          this.trackIndex = (this.opts.repeat) ? lowerBound : upperBound;
        }
        if (trackNum < lowerBound) {
          this.trackIndex = (this.opts.repeat) ? upperBound : lowerBound;
        }
        if (trackNum >= lowerBound
            && trackNum <= upperBound) {
          EventBus.$emit(Events.updateCurrentTrack, {
            trackNum : trackNum
          });
        }
      }
    }
  }
</script>