<template>
    <div style="position: relative; z-index: 1;">
        <div class="m-message-holder">
            <div @click="clear(true)" v-for="(message, id) in messages" class="m-message alert" :class="message.css">
                <p>
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span class="m-message-markup" v-html="message.markup"></span>
                </p>
                <div class="m-message-bg"></div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

  import {Events} from '../events';
  import {EventBus} from '../event-bus';

  let undefined = require('lodash.isundefined');
  export default {
    created () {
      let that = this;
      EventBus.$on(Events.notifyUser, (data) => {
          let message = {
            type : data.type,
            css : 'alert-' + data.type,
            markup : data.message
          };
          that.set(message);
      });
    },
    data () {
      return {
        messages : [],
        timeouts : []
      }
    },
    methods : {
      clear(click) {
        console.log('click');
        if(!undefined(click)) {
          clearTimeout(this.timeouts.shift());
        }

        this.messages.shift();

      },
      set(message) {
        this.messages.push(message);

        this.timeouts.push(setTimeout(() => {
          this.clear();
        }, 5500));
      }
    }
  }
</script>
