<template>
    <li class="dropdown m-playlist-row">
        <router-link :to="playlistLink">
            {{ playlist.title }}
        </router-link>

        <i @click.prevent="toggleMenu()" class="hover-visible glyphicon glyphicon-option-horizontal"></i>
        <ul @click="toggleMenu()" v-if="showMenu" class="dropdown-menu">
            <li><a @click.prevent="deletePlaylist(playlist.id)" href="#">Delete</a></li>
            <li><router-link :to="playlistEditLink">Edit</router-link></li>
        </ul>
    </li>
</template>

<script type="text/babel">

  import {EventBus} from '../event-bus';
  import {Events} from '../events';
  import {Endpoint} from '../endpoints';



  export default {

    data : () => {
      return {
        showMenu : false
      };
    },
    computed : {
      playlistLink : function () {
        return '/playlist/' + this.playlist.id;
      },
      playlistEditLink : function () {
        return this.playlistLink + '/edit'
      }
    },
    methods : {
      deletePlaylist : function (id) {
        EventBus.$emit(Events.deletePlaylist, {
          id : id
        });
      },
      toggleMenu : function () {
        this.showMenu = !(this.showMenu);
      }
    },
    props : ['playlist']
  }
</script>
