<template>
    <div v-if="playlistTitle">
        <album-header
                :albumCover=albumCover
                :albumTitle=playlistTitle
                :artistId=artistId
                :artistName=artistName
                :albumYear=albumYear
                :albumLength=albumLength
                :trackNumber=tracks.length
        ></album-header>
        <div v-if="tracks.length > 0">
            <track-table
                    :tracks=tracks
                    :playlists=user.playlists
                    :user=user
            ></track-table>
        </div>
    </div>

</template>

<script type="text/babel">
  let isUndefined = require('lodash.isundefined');
  let helper = require('../helpers').default;
  export default {
    created () {
      this.fetchData();
    },
    data : () => {
      return {
        loading : true,
        playlistId : undefined,
        playlistTitle : undefined,
        albumYear : '',
        albumCover : '',
        artistId : undefined,
        artistName : '',
        tracks : []
      };
    },
    computed : {
      albumLength : function () {
        let albumLength = 0;
        this.tracks.forEach((track) => {
          let len = parseInt((track.trackLength).toFixed());
          albumLength += len;
        });
        return albumLength;
      }
    },
    methods : {
      fetchData : function () {
        let that = this;
        let helpers = require('../helpers').default;
        let playlistId = (isUndefined(this.$route.params.id)) ? undefined
            : this.$route.params.id;
        this.loading = true;
        if (playlistId === undefined) {
          this.$route.router.go('/');
        }

        this.playlistId = playlistId;
        axios.get('playlist/' + playlistId)
            .then((response) => {
              let data = response.data.data;
              let tracks = data.tracks.map(function(track, ind) {
                track['trackNumber'] = ind + 1;
                return track;
              });
              that.tracks = data.tracks;

              that.playlistTitle = data.title;
              that.loading = false;
            })
            .catch((e) => {
              console.error(e);
            });
      }
    },
    props : {
      'user' : {
        type : Object,
        default : () => {
          return {
            currentTrack : undefined,
            playQueue : [],
            playlists : []
          };
        }
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
  }
</script>
