<template>
    <div>
        <form @submit.prevent>
            <h1>Edit Playlist</h1>
            <h3>{{ playlistTitle }}</h3>
            <div>
                <label for="playlistTitle">Edit Title</label>
                <div class="form-group">
                    <div class="input-group">
                        <input @blur="save" v-model="playlistTitle" class="form-control"
                               title="playlistTitle" type="text" :placeholder="playlistTitle" />
                        <div class="input-group-btn">
                            <div @click="save" class="btn btn-success">Save</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div v-if="tracks.length > 0">
                    <table class="m-lw-playlist-edit table table-hover">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Title</td>
                            <td class="track-title">Album</td>
                            <td class="artist-name">Artist</td>
                            <td>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(track, id) in tracks">
                            <td>{{ id + 1 }}</td>
                            <td>{{ track.title }}</td>
                            <td>
                                <router-link :to="track.albumLink">{{ track.albumTitle }}</router-link>
                            </td>
                            <td>
                                <router-link :to="track.artistLink">{{ track.artistName }}</router-link>
                                <span v-for="(contrib, id) in track.contributors">|
                                    <router-link  :to="contrib.link">{{ contrib.name }}</router-link>
                                </span>
                            </td>
                            <td>

                            </td>
                            <td>
                                <a @click="remove(track.id)" class="btn btn-default" href="#">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h4>No tracks found</h4>
                </div>
            </div>
        </form>
    </div>
</template>

<script type="text/babel">

  import {Endpoint} from '../endpoints';
  import {EventBus} from '../event-bus';
  import {Events} from '../events';

  let isUndefined = require('lodash.isundefined');
  let helper = require('../helpers').default;

  export default {
    created() {
        this.fetchData();
    },
    data : () => {
      return {
        loading : true,
        playlistId : undefined,
        playlistTitle : undefined,
        albumYear : '',
        albumCover : '',
        artistId : undefined,
        artistName : '',
        tracks : []
      };
    },
    methods : {

      fetchData : function () {
        let that = this;
        let helpers = require('../helpers').default;
        let playlistId = (isUndefined(this.$route.params.id)) ? undefined
            : this.$route.params.id;
        this.loading = true;
        if (playlistId === undefined) {
          this.$route.router.go('/');
        }

        this.playlistId = playlistId;
        axios.get(Endpoint.playlist.get(playlistId))
            .then((response) => {
              let data = response.data.data;
              let tracks = data.tracks.map(function(track, ind) {
                track['trackNumber'] = ind + 1;
                return track;
              });
              that.tracks = data.tracks;
              that.playlistTitle = data.title;

              that.loading = false;
            })
            .catch((e) => {
              console.error(e);
            });
      },
      toggle(prop) {
        this.opts[prop] = !this.opts[prop];
      },
      save() {
        let that = this;
        axios.put(Endpoint.playlist.update(this.playlistId), {
          title : this.playlistTitle
        })
            .then(function (data) {
              EventBus.$emit(Events.updatePlaylist, {
                id : parseInt(that.playlistId),
                title : that.playlistTitle
              })
            })
      },
      remove(trackId, index) {
        let that = this;
        axios.delete(Endpoint.playlistItem.delete(this.playlistId, trackId))
            .then(function(data) {
              console.log('deleted', trackId);
              that.tracks.splice(index, 1);
            })
      }
    },
    props : {
      user : {
        type : Object,
        default : {}
      }
    }
  }
</script>
