<template>
    <div class="audio-player-controls-container">
        <div class="audio-player-controls">
            <audio v-if="hasValidSrc()" ref="player" :src="src" @timeupdate="timeChange" autoplay></audio>

            <div class="track-details">
                <div class="album-art">
                    <router-link :to="albumLink"><img :src="coverArt" /></router-link>
                </div>
                <div class="track-name">{{ title }}</div>
                <div class="artist-name"><router-link :to="artistLink">{{ artist }}</router-link></div>
            </div>
            <div class="player-controls">
                <div @click="previous" class="primary-control">
                    <i class="icon-previous2"></i>
                </div>
                <div v-if="!this.playing" @click="play" class="primary-control">
                    <i class="icon-play2"></i>
                </div>
                <div v-if="this.playing" @click="pause" class="primary-control">
                    <i class="icon-pause"></i>
                </div>
                <div @click="next" class="primary-control">
                    <i class="icon-next2"></i>
                </div>
                <div class="audio-current-time">
                    {{ currentTime | formatSecondsShort }}
                </div>
                <progress-bar
                        :id="playId"
                        :position="playPosition"
                        :disabled="playDisabled"
                ></progress-bar>
                <div class="audio-duration">{{ duration | formatSecondsShort }}</div>
                <div @click="shuffle" :class="{active : opts.shuffle}" class="secondary-control">
                    <i class="icon-shuffle"></i>
                </div>
                <div @click="repeat" :class="{active : opts.repeat}" class="secondary-control">
                    <i class="icon-infinite"></i>
                </div>
                <div @click="mute" class="secondary-control">
                    <i :class="[(opts.mute) ? 'icon-volume-mute' : 'icon-volume-high']"></i>
                </div>
                <progress-bar
                    :id="volumeId"
                    :position="volumePosition"
                    :disabled="volumeDisabled"
                ></progress-bar>
            </div>

        </div>
    </div>
</template>
<script type="text/babel">
  import {EventBus} from '../event-bus.js';
  import {Events} from '../events.js';
  import {default as isUndefined} from 'lodash.isundefined';
  import {default as throttle} from 'lodash.throttle';
  export default {
    data() {
      return {
        firstLoad : true,
        playing : true,
        playPosition : 0,
        playId : 'play-bar',
        volumeId : 'volume-bar',
        volumePosition : 100,
        beforeMuteVolumePosition: 100,
        playDisabled : false,
        volumeDisabled: false
      }
    },
    computed : {
      durationFormatted : function () {
      }
    },
    props : {
      src : {
        type : String,
        default : ''
      },
      currentTime : {
        type : Number,
        default : 0
      },
      duration : {
        type : Number,
        default : 1
      },
      title : {
        type : String,
        default : ''
      },
      artist : {
        type: String,
        default : ''
      },
      album : {
        type : String,
        default: ''
      },
      albumLink : {
        type : String,
        default : ''
      },
      artistLink : {
        type : String,
        default : ''
      },
      coverArt : {
        type : String,
        default : ''
      },
      opts : {
        type : Object,
        default : {
          random : false,
          shuffle : false,
          mute : false
        }
      },
      db : {
        type : String,
        default : null
      }
    },
    mounted() {
      let that = this;
      // deactivate autoplay on page load
      // but we have autoplay attribute because we want autoplay on song change
      setTimeout(() => {
        that.pause();
        this.firstLoad = false;
      }, 250);
      EventBus.$on(this.playId + Events.updateProgress, (data) => {
        let percentage = data.newPosition;
        this.playPosition = percentage;
        percentage = (percentage !== 0) ? percentage /  100 : 0;
        let currentTime = (this.duration !== 0)
            ? Math.round(this.duration * percentage) : 0;
        EventBus.$emit(Events.timeUpdate, {currentTime : currentTime});
        this.$refs.player.currentTime = currentTime;
      });

      // volume change callback
      let volumeCb = (data) => {
        let percentage = Math.floor(data.newPosition);
        this.volumePosition = percentage;
      };

      EventBus.$on(this.volumeId + Events.updatingProgress, volumeCb);

      EventBus.$on(this.volumeId + Events.updateProgress, volumeCb);

      EventBus.$on(Events.toggleMute, () => {
        // inner component event called before outer component even
        if (!this.opts.mute) {
          this.beforeMuteVolumePosition = this.volumePosition;
          this.volumePosition = 0;
        } else {
          this.volumePosition = this.beforeMuteVolumePosition;
        }
      });
    },
    methods : {
      /**
       * plays current track
       */
      play() {
          this.$refs.player.currentTime = this.currentTime;
          this.$refs.player.play();
          this.playing = true;
      },
      pause() {
        this.$refs.player.pause();
        this.playing = false;
      },
      next() {
        EventBus.$emit(Events.nextTrack);
      },
      /**
       *  previous track change
       */
      previous() {
        EventBus.$emit(Events.previousTrack);
      },
      /**
       * timeupdate event handler
       */
      timeChange : throttle(function(e){
        this.updateTimeChange(e.target.currentTime);
      },1000),
      /**
       * handles the updating of time
       */
      updateTimeChange(currentTime) {

        currentTime = Math.floor(currentTime);
        this.playPosition = (currentTime !== 0)
            ? (currentTime / this.duration)*100 : 0;
        EventBus.$emit(Events.timeUpdate, {
          currentTime :  currentTime
        });
      },
      /**
       * toggles shuffle mode
       */
      shuffle() {
        EventBus.$emit(Events.toggleShuffle);
      },
      /**
       * toggles repeat mode
       */
      repeat() {
        EventBus.$emit(Events.toggleRepeat);
      },
      /**
       * toggles volume mute
       */
      mute() {
        EventBus.$emit(Events.toggleMute);
      },
      /**
       * determines whether src method is valid for audio tag
       */
      hasValidSrc() {
        return (this.src !== '' && !isUndefined(this.src) && this.src);
      }
    },
    watch : {
      src(src) {
          if (this.hasValidSrc() && !isUndefined(this.$refs.player)) {
            this.updateTimeChange(this.currentTime);
            this.$refs.player.currentTime = this.currentTime;
            if (!this.firstLoad) {
              this.playing = true;
            }
          }
      },
      volumePosition(volumePercentage) {
          this.$refs.player.volume = volumePercentage / 100;
      }
    }
  }
</script>