<template>
    <div ref="progress" :id="id" class="progress-bar">
        <div v-if="!disabled"ref="seekBar" @mousedown.prevent="startDrag" class="seek-bar">
            <div ref="playBar" :style="progressPosition" @mousedown.prevent="startDrag" class="play-bar">
                <div class="bullet">
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
  import {EventBus} from '../event-bus.js';
  import {Events} from '../events.js';
  export default {
    computed : {
      progressPosition : function () {
        return {
          'width' : this.position + '%'
        }
      }
    },
    data () {
      return {
        dragging : false
      }
    },
    props : ['id', 'position', 'disabled'],
    mounted() {
      //update Progress Bar control
      this.$refs.playBar.style.width = this.position;
    },
    methods : {
      updateBar : function (x) {
        if (!this.disabled) {
          let progress = this.$refs.progress;
          let position = x - progress.offsetLeft; //Click pos
          let percentage = 100 * position / progress.clientWidth;
          //Check within range
          if (percentage > 100) {
            percentage = 100;
          }
          if (percentage < 0) {
            percentage = 0;
          }
          this.$refs.playBar.style.width =  percentage + '%';
          return percentage;
        }
      },
      startDrag : function (e) {
        this.dragging = true;
        this.updateBar(e.pageX);
        document.addEventListener('mousemove', this.drag);
        document.addEventListener('mouseup', this.finishDrag);
      },
      finishDrag : function (e) {
        if (this.dragging) {
          this.dragging = false;
          let percentage = this.updateBar(e.pageX);
          document.removeEventListener('mousemove', this.drag);
          document.removeEventListener('mouseup', this.finishDrag);
          EventBus.$emit(this.id + Events.updateProgress, {
            newPosition : percentage
          });
        }
      },
      drag : function (e) {
        if (this.dragging) {
          let percentage = this.updateBar(e.pageX);
          EventBus.$emit(this.id + Events.updatingProgress, {
            newPosition : percentage
          });
        }
      }
    }
  }
</script>
