<template>
    <form class="m-app-search form-inline" @submit.prevent="onSubmit">
        <div class="form-group">
            <div class="input-group" style="margin-top:8px;">
                <input @focus="toggleResultsMenu(true)" @blur="closeDropdown" v-model="term" class="form-control" placeholder="Search" type="text">
                <div @click="onSubmit" class="search-btn input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <ul class="dropdown-menu" v-if="showResults">
                <li v-for="track in results.tracks">
                    <a  @click.prevent="clickSearchLink(track, 'track')" href="#">
                        {{ track.title }} - {{ track.artistName }}
                        <span class="badge badge-primary">track</span>
                    </a>
                </li>
                <li v-for="album in results.albums">
                    <a  @click.prevent="clickSearchLink(album, 'album')" href="#">
                        {{ album.albumTitle }} - {{ album.artistName }}
                        <span class="badge badge-info">album</span>
                    </a>
                </li>
                <li v-for="artist in results.artists">
                    <a @click.prevent="clickSearchLink(artist, 'artist')" href="#">
                        {{ artist.artistName }}
                        <span class="badge badge-warning">artist</span>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</template>

<script type="text/babel">

  import {EventBus} from '../event-bus';
  import {Events} from '../events';

  let isUndefined = require('lodash.isundefined');
  export default {
    el: '#search-app',
    data() {
      return {
        term : '',
        results : {
          tracks : [],
          albums : [],
          artists : []
        },
        showResults : false,
        hasResults : false
      };
    },
    methods : {
      clearResults : function () {
        this.results.tracks = [];
        this.results.albums = [];
        this.results.artists = [];
        this.showResults = false;
        this.hasResults = false;
      },
      search : function () {
        let that = this;
        axios.post('search', {term : this.term })
            .then(function (response) {
              let results = response.data.data;
              that.results.artists = results.artists;
              that.results.albums = results.albums;
              that.results.tracks = results.tracks;
              that.showResults = true;
              that.hasResults = true;
            })
            .catch(function (error) {
              console.log(error);
            })
      },
      /**
       * close the dropdown on
       */
      closeDropdown : function () {
        setTimeout(function () {
          this.showResults = false;
        }.bind(this), 100);
      },
      toggleResultsMenu : function (focus) {
        focus = !isUndefined(focus);
        if (this.showResults && focus !== true) {
          this.showResults = false;
          console.log('hide menu');
        } else if (this.hasResults) {
          this.showResults = true;
        }
      },
      clickSearchLink : function (linkData, linkType) {
        let redirectTo = {};
        switch (linkType) {
          case 'track' :
            redirectTo = {
              path : linkData.links.album,
              query : {
                playTrack : linkData.id
              }
            };
            break;
          case 'album' :
            redirectTo = {
              path : linkData.links.album,
              query : {}
            };
            break;
          case 'artist' :
            redirectTo = {
              path: linkData.links.artist,
              query : {}
            };
            break;
        }
        console.log(redirectTo);
        EventBus.$emit(Events.redirectTo, redirectTo);
        this.closeDropdown();
      },
      onSubmit : function () {
        EventBus.$emit(Events.goSearchPage, {
          searchResults : this.results
        });
        this.closeDropdown();
      }
    },
    watch : {
      term : function (val) {
        if (val.length >= 3) {
          this.search();
        } else {
          this.hasResults = false;
          this.clearResults();
        }
      }
    }
  }
</script>
