<template>

</template>

<script type="text/babel">
  export default {
    props : {
      results : {
        type : Object,
        default : () => {
          return {
            tracks : [],
            albums : [],

          }
        }
      },
      user : {
        type : Object,
        default : () => {
          return {
            currentTrack : undefined,
            playQueue : [],
            playlists : []
          };
        }
      }
    }
  }
</script>
