<template>
    <div id="app-sidebar" class="col-sm-3 col-lg-3">
            <h5>Playlists</h5>
            <ul class="list-unstyled">
                <playlist-row v-for="playlist in playlists" :playlist="playlist" :key="playlist.id"></playlist-row>
                <li v-if="playlists.length === 0">No playlists</li>
            </ul>
    </div>
</template>

<script type="text/babel">
  export default {
    props : ['playlists'],
    methods : {
      getPlaylistLink : function (id) {
        return 'playlist/' + id
      }
    }
  }
</script>
