<template>
    <table class="m-lw-track-list table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td class="track-title">Album</td>
                <td class="artist-name">Artist</td>
                <td></td>
                <td>
                    <i class="glyphicon glyphicon-time"></i>
                </td>
            </tr>
        </thead>
        <tbody>
            <track-row
                v-for="track in tracks"
                :key="track.id"
                :trackId="track.id"
                :trackNumber=track.trackNumber
                :title=track.title
                :artistName=track.artistName
                :artistId=track.artistId
                :contributors=track.contributors
                :albumId=track.albumId
                :albumCover=track.albumCover
                :albumTitle=track.albumTitle
                :_length=track.trackLength
                :playlists=playlists
                :user="user"
            ></track-row>
        </tbody>
    </table>
</template>

<script type="text/babel">
  let helper = require('../helpers').default;
  let clone = require('lodash.clone');
  import { EventBus } from '../event-bus.js';
  import { Events } from '../events.js';

  export default {
    mounted() {
      EventBus.$on(Events.playTrack, this.onPlayTrack);
    },
    props : {
      tracks : {
        type : Array,
        default : []
      },
      artist : {
        type : String,
        default : ''
      },
      artistId : {
        type : Number,
        default : 0
      },
      playlists : {
        type : Array,
        default : []
      },
      user : {
        type : Object,
        default : {
          canDownload : false
        }
      }
    },
    methods : {
      onPlayTrack : function (response) {
        let data = response.data;
        let trackId = data.trackId;
        // getting the index in the tracks array based on trackId
        let index = null;
        let len = this.tracks.length;
        let x = 0;
        while (x < len && index === null) {
            index = (trackId === this.tracks[x].id) ? x : null;
            x++;
        }
        let playQueue = {};
        // now we construct the playQueue based on the album and track position
        if (index !== null) {
          playQueue.currentTrack = clone(this.tracks[index]);
          playQueue.currentTrack.playListIndex = index;
          playQueue.list = clone(this.tracks);
          EventBus.$emit(Events.newPlayQueue, {
            playQueue : playQueue
          });
        }
      }
    }
  }
</script>
