<template>
    <tr class="m-lw-track-row">
        <td @click="play(trackId)" class="track-number">
            <span class="hover-hidden">{{ trackNumber }}</span>
            <i class="hover-show glyphicon glyphicon-play control-btn pull-left"></i>
        </td>
        <td class="track-title">
            {{ title }}
        </td>
        <td class="album-title">
            <router-link :to="'/album/' + albumId">{{ albumTitle }}</router-link>
        </td>
        <td class="artist-name">
            <router-link :to="'/artist/' + artistId ">{{ artistName }}</router-link>
            <span v-for="contributor in contributors">
                |
                <router-link  @key="id" :to="contributor.link">
                    {{ contributor.name }}
                </router-link>
            </span>
        </td>
        <td @click="toggleMenu()" class="dropdown">
            <i class="hover-visible glyphicon glyphicon-option-horizontal"></i>
            <ul v-if="showMenu" class="dropdown-menu">
                <li v-if="user.canDownload">
                    <a @click="download(trackId)" href="#">Download</a>
                </li>
                <li class="divider"></li>
                <li class="disabled">
                    <a @click.prevent href="#">Add to playlist..</a>
                </li>
                <li v-for="playlist in playlists" >
                    <a @click.prevent="addTo(playlist.id)" href="#"> {{ playlist.title }}</a>
                </li>
                <li><a @click.prevent="addTo()" href="#">New Playlist</a></li>
            </ul>
        </td>
        <td>
            {{ trackLength | formatSecondsShort }}
        </td>
    </tr>
</template>

<script type="text/babel">
  import { EventBus } from '../event-bus.js';
  import { Events } from '../events.js';
  let isUndefined = require('lodash.isundefined');
  export default {
    mounted() {
        // check for directive to play a track
    },
    data : () => {
      return {
        showMenu: false,
        dbName : 'music-player',
        db : null
      };
    },
    props: {
        trackId : {
          type: Number,
          default: ''
        },
        trackNumber : {
          type : Number,
          default: ''
        },
        title : {
          type : String,
          default: ''
        },
        contributors : {
          type : Array,
          default : []
        },
        _length : {
          type : Number,
          default : 0
        },
        artistName : {
          type : String,
          default : ''
        },
        artistId : {
          type: Number,
          default : 0
        },
        albumCover : {
          type : String,
          default : ''
        },
        albumId : {
          type: Number,
          default : 0
        },
        playlists : {
          type : Array,
          default : []
        },
        albumTitle : {
          type : String,
          default : ''
        },
        user : {
          type : Object,
          default : {
            canDownload : false
          }
        }
    },
    computed : {
      trackLength : function () {
        return parseInt((this._length).toFixed());
      }
    },
    methods : {
      play : function (trackId) {
        EventBus.$emit(Events.playTrack, {
          data : {
            trackId : trackId
          }
        });
      },
      addTo : function (playlistId) {
        let newPlaylist = isUndefined(playlistId);
        EventBus.$emit(Events.addToPlaylist, {
          trackId : this.trackId,
          newPlayList : newPlaylist,
          playlistId : playlistId
        });
      },
      toggleMenu : function () {
        let closeMenu = (e) => {
          this.showMenu = false;
          document.removeEventListener('click', closeMenu);
        };
        this.showMenu = !(this.showMenu);
        if (this.showMenu) {
          setTimeout(() => {
            document.addEventListener('click', closeMenu);
          }, 200);
        }
      },
      download : function (id) {
        let url = '/files/tracks/' + id + '.mp3';
        EventBus.$emit(Events.downloadFile, {
          url : url,
          trackId : id
        });
      }
    }
  }
</script>
