/**
 * AlbumHeader.vue
 */
.m-album-list {
  border-bottom: 1px solid $table-border-color
}

.m-album-details {
  .thumbnail {
    padding: 0;
  }
}
.m-lw-playlist-edit {
  td {
    vertical-align: middle !important;
  }
}
.m-lw-track-row {

  .hover-visible {
    visibility: hidden;
  }
  .hover-show {
    display: none;
  }
  &:hover {
    .hover-visible {
      visibility: visible;
    }
    .hover-show {
      display: block;
    }
    .hover-invisible {
      visiblility: hidden;
    }
    .hover-hidden {
      display: none;
    }
  }
  .control-btn {
    cursor: pointer;
    color: #fff;
  }
}