.m-album-tile {
  .thumbnail {
    padding: 0;
    background-color: inherit;
    border: 0;
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
  .caption {
    clear: left;
    padding-left: 0;
  }
  a,
  a:visited{
    color: $text-color;
  }
  a:hover {
    color: darken($text-color, 10);
  }
}