
.audio-player-controls-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.audio-player-controls {
  display: flex;
  flex-direction: row;
  height: $controls-height;
  padding: $normal-padding;
  color: $text-color;
  background-color: $audio-player-background;
  border-top: 1px solid $audio-player-background;
}

.secondary-control,
.primary-control {
  display:flex;
  cursor: pointer;
  padding-left: $half-padding;
  padding-right: $half-padding;
  i {
    line-height: $audio-player-height;
    font-size: $primary-controls-font-size;
    color: $primary-controls-color;
  }
}

.secondary-control {
  i {
    font-size: $secondary-controls-font-size;
    color: $secondary-controls-color;
  }
  &.active i,
  &:hover i {
    color: $secondary-controls-color-hover;
  }
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $track-details-width;
}
.album-art {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -197px;
  left: 0;
  border: 1px solid $audio-player-border;
  border-bottom: 0;
  img {
    width: 100%;
  }
}

.track-name {
  font-size: $track-title-size;
}

.artist-name {
  color: $text-color-secondary;
  font-size: $artist-font-size;
}


.player-controls {
  width: $controls-width;
  padding-left: $normal-padding;
  padding-right: $normal-padding;
}

.audio-duration,
.audio-current-time,
.player-controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
}

.audio-duration,
.audio-current-time {
  font-size: $progress-timer-font-size;
}