.m-message-holder {
  position: fixed;
  top: 65px;
  right: 25px;
  .alert {
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin-top: 5px;
    padding: 20px 25px;
    padding-left: 15px;
    min-width: 180px;
    &:first-child {
      margin-top: 0;
    }
    background-color: transparent !important;
  }
  .m-message-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
  }

  .alert-success .m-message-bg {
    background-color: $brand-success;
  }
  .alert-warning .m-message-bg {
    background-color: $brand-warning;
  }
  .alert-default .m-message-bg {
    background-color: $brand-primary;
  }
  .alert-danger .m-message-bg {
    background-color: $brand-danger;
  }

  .m-message-markup {
    position: relative;
    z-index: 1;
    padding-left: 10px;
  }
}