.progress-bar {
  width: 100%;
  margin: 0 $double-padding;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.progress-bar,
.seek-bar,
.play-bar {
  height: 8px;
  border-radius: 1px;
  align-self: center;
}

.seek-bar {
  cursor: pointer;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.play-bar {
  float: left;
  position: relative;
  background-color: #00c85f;
  border-radius: 5px;
  overflow: visible !important;
}

.progress-bar .bullet {
  position: absolute;
  content: "";
  top: -5px;
  right: -7px;
  height: 18px;
  width: 18px;
  background: #ffffff;
  border-radius: 50%;
}

#volume-bar {
  width: 100px;
}