.m-album-thumbnail {
  label {
    float: left;
  }
  img {
    float: left;
    margin: 15px 0;
    padding: 15px;
    background-color: $bg-white;

  }
}

.m-albums-edit {
  .table > tbody > tr > td {
    vertical-align: middle;
    img {
      max-height: 128px;
      width: auto;
    }
  }
}

input[type="file"] {
  background-color: inherit;
  border: 0;
  padding: 0;
}

.m-admin-actions {
  margin-bottom: 30px;
}